.contraner{
  width: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(15, 14, 14);
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
  
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.column1 img{
  margin-left: 30%;
  height: 100%;
}
  .column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.text{
  margin-top: 10%;
  text-align: center;
}
.container{
  width: 100%;
  height: 150px;
  background: #242525;
  margin-top: 20px;
  }
.col-6{
  width: 50%;
  height: 100px;
  color: #f5f5f5;
  font-family: sans-serif;
  float: right;
  padding: 10px;
  text-align: center;
  padding: 20px;
  
}

.header2{
  background: rgb(84, 79, 97);
  color: white;
  margin-left:20px;
  margin-right:20px;
  padding: 120px;
  text-align: center;
}
.header{
  background:rgb(124, 122, 122);
  color: black;
  
}
header{
  
  padding: 50px;
  text-transform: uppercase;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.p1{
  text-transform: lowercase;
  font-size: 15px;
  
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}
nav ul{
  list-style: none;
  display: flex;
  padding: 10px;
  margin: 0;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.content{
  width: 100%;
  display: flex;
}
.choose{
  width: 20%;
}
.choose a{
  display: block;
  color:rgb(237, 237, 248);
  margin-top: 10px;
  background: gray;
  width: 70%;
  padding: 10px;
}
.body-content{
  width: 70%;
  
}
.container-form{
  background:rgb(124, 122, 122);
  width: 100%;
  height: 450px;
  padding: 10px;
}
input{
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
}
input[type=email]{
  width: 98%;
  outline: none;
  border: none;
}
input[type=address]{
  width: 98%;
  outline: none;
  border: none;
}
input[type=subject]{
  width: 98%;
  outline: none;
  border: none;
}

input[type=text],input[type=submit], input[type=reset]{
  width: 49%;
  outline: none;
  border: none;
  color: rgb(15, 15, 15);
}
input[type=submit]{
  background: rgb(3, 213, 250);
  border-radius: 15px;
}
input[type=reset]{
  background: blueviolet;
  border-radius: 15px;
}
.container-table{
  background: gray;
  padding: 10px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
tr,td,th{
  border: 1px solid rgb(241, 233, 233);
  padding: 10px;
}
thead tr{
  background: rgb(127, 213, 247);
  color: white;
}
.table{
  margin-top: 15px;
}

/* Create two equal columns that floats next to each other */
.column3 {
  margin-top: 5%;
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}
.column3 h2{
   color: blue;
}
.column4 {
  margin-top:5%;
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}
.column4 h2{
  color: blue;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .icons{
  margin-left: 100px;
  margin-top:0px ;
  font-size:0;
} */
.down{
  margin-left:100%;
  width: auto;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.container{
  background: black;
  padding: 15px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down1{
  margin-left: 100px;
  width: auto;
}

/* /* .map{
  width: 10px;
  margin: 30%;
  margin-left: 20pX;
  margin-right: auto; */

/* } */
.row1{
margin-top: 3px;  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-yahoo {
  background: #430297;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}

/* experience */
/* .anlo{
  background: rgb(84, 79, 97);
  color: white;
  margin-left:20px;
  margin-right:20px;
  padding: 120px;
  align-items:right;
  justify-content: right;
  display: flex;
} */
.anli{
  width: 80%;
  height: 30vh;
  color:black;
  background-color: none;
  position: absolute;
  top: 35%;
  left: 10%;
  
}
.anli img{
  margin-left: 30%;
  width: 40%;
  height: 99%;
  border-radius: 100%;
}
* {
  box-sizing: border-box;
}

.col1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.col2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  text-align: center;
  top:50%;
}

/* Clear floats after the columns */
.rw:after {
  content: "";
  display: table;
  clear: both;
}
.text{
margin-top: 50%;
text-align: center;
margin-left: 50%;
}
.container5{
  background: black;
  padding: 15px;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download img{
  margin-top:19%;
}
.download h3{
  position: absolute;
  margin-top: 30%;
  margin-left: 5px;
}
/* resum */
.col11 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.col11 img{
margin-left: 18%;
height: 100%;
}
.col22 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.rww:after {
  content: "";
  display: table;
  clear: both;
}
.text{
  margin-top: 50%;
  text-align: center;
  margin-left: 50%;
  }
.col22 h1{
    text-align: center;
}
.CL img{
  width: 20%;
  height: 20%;
}
.CV img{
  width: 20%;
  height: 20%;
}
.container{
  background: black;
  padding: 15px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.c1{
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rw:after {
  content: "";
  display: table;
  clear: both;
}
.download33 img{
  margin-top:19%;
}
.download33 h3{
  position: absolute;
  margin-top: 30%;
  margin-left: 5px;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column img{
 width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 12px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.downcat button{
  width: 40%;
  background-color:  RoyalBlue;
  text-align: center;
}

.contect iframe{
  width: 50%;
  height: 25%;
}